* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1, main .main-section h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 78px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}

p, main .main-section p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  max-width: 540px;
  padding: 60px 0 65px;
}

.btn-write-me, main .main-section .btn-write-me {
  padding: 19px 41px 20px;
  background-color: #34547a;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffff;
  border: none;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-write-me:hover, main .main-section .btn-write-me:hover {
  opacity: 0.6;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #000000;
}

.nav a:hover {
  color: #34547a;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.mobile-navigation, header .mobile-navigation {
  display: none;
}

.mobile-navigation .checkbtn {
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  z-index: 2;
}

.mobile-navigation .nav-mobile {
  display: none;
  position: absolute;
  width: 100%;
  background: lightgray;
  opacity: 0.9;
}

.mobile-navigation .nav-mobile ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile-navigation input {
  opacity: 0;
}

.mobile-navigation input:checked ~ .nav-mobile {
  display: block;
  width: 100%;
  padding: 40px 0 20px 50px;
  top: 0;
}

.project-item, main .third-section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.project-item .project-img, main .third-section ul li .project-img {
  width: 50px;
  height: 50px;
}

.project-item p:first-child, main .third-section ul li p:first-child {
  color: #ffff;
  font-size: 21px;
  font-weight: 500;
  line-height: 24px;
  padding: 0 0 10px 0;
}

.project-item p:last-child, main .third-section ul li p:last-child {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
}

.container {
  max-width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

.bg-grey {
  background-color: #EEEFF1;
}

.bg-metallic-blue {
  background-color: #34547a;
}

header {
  padding: 80px;
}

main .main-section {
  padding-top: 80px;
  padding-bottom: 140px;
}

main .second-section,
main .fourth-section {
  padding: 112px 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}

main .second-section p,
main .fourth-section p {
  padding-bottom: 0;
  text-align: center;
  max-width: 540px;
}

main .third-section {
  padding: 100px 0;
}

main .third-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 45px;
  color: #ffff;
  padding: 0;
}

main .fourth-section {
  padding: 100px 20px;
}

main .fourth-section iframe {
  width: 90%;
  height: 600px;
  margin-top: 50px;
}

footer {
  padding: 50px 0;
}

footer p:first-child {
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  color: #ffff;
  padding: 0 0 20px 0;
}

footer p:last-child {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #ffff;
  padding: 0;
}

@media (min-width: 600px) and (max-width: 599px) {
  .container {
    max-width: 600px;
    padding: 0 20px;
  }
  header {
    padding: 30px 0;
  }
  header ul {
    gap: 10px;
  }
  .main-section {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .main-section h1, main .main-section h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .main-section p, main .main-section p {
    padding: 30px 0 30px;
  }
  .main-section .btn-write-me, main .main-section .btn-write-me {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 24px;
  }
  .second-section,
  .fourth-section,
  .third-section {
    padding: 50px 10px 50px;
  }
  .third-section ul {
    gap: 25px;
  }
  .third-section ul .project-item p:first-child, main .third-section ul li p:first-child {
    font-size: 18px;
    line-height: 20px;
  }
  .third-section ul .project-item p:last-child, main .third-section ul li p:last-child {
    font-size: 14px;
    line-height: 16px;
  }
  h2 {
    font-size: 25px;
    line-height: 25px;
  }
  iframe {
    height: 500px;
    margin-top: 25px;
  }
  footer {
    padding: 25px 0;
  }
  footer p:first-child {
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 10px 0;
  }
  footer p:last-child {
    line-height: 20px;
  }
}

@media (max-width: 599px) {
  .container {
    max-width: 600px;
    padding: 0 20px;
  }
  header {
    padding: 10px 10px 10px 0;
  }
  header .nav {
    display: none;
    position: relative;
  }
  header .mobile-navigation {
    display: block;
    padding: 0;
  }
  .main-section {
    padding: 0 0 20px;
  }
  .main-section h1, main .main-section h1 {
    font-size: 28px;
    line-height: 35px;
  }
  .main-section p, main .main-section p {
    padding: 30px 0 30px;
  }
  .main-section .btn-write-me, main .main-section .btn-write-me {
    padding: 15px 30px;
    font-size: 14px;
    line-height: 24px;
  }
  .second-section,
  .fourth-section,
  .third-section {
    padding: 20px;
  }
  .third-section ul {
    gap: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third-section ul .project-item p:first-child, main .third-section ul li p:first-child {
    font-size: 18px;
    line-height: 20px;
  }
  .third-section ul .project-item p:last-child, main .third-section ul li p:last-child {
    font-size: 14px;
    line-height: 16px;
  }
  h2 {
    font-size: 25px;
    line-height: 26px;
  }
  iframe {
    height: 250px;
    margin-top: 20px;
  }
  footer {
    padding: 20px 0;
  }
  footer p:first-child {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 10px 0;
  }
  footer p:last-child {
    line-height: 16px;
  }
}
/*# sourceMappingURL=main.css.map */