// components/_navigation.scss
ul {
    @include flex-center;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    gap: $gap;
}

.nav {
    a {
        text-decoration: none;
        color: $black-color;

        &:hover {
            color: $metallic-blue;
            transition: 0.3s linear;
        }
    }
}

.mobile-navigation {
    display: none;

    .checkbtn {
        cursor: pointer;
        font-size: 1.5rem;
        position: relative;
        z-index: 2;
    }

    .nav-mobile {
        display: none;
        position: absolute;
        width: 100%;
        background: lightgray;
        opacity: 0.9;

        ul {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    input {
        opacity: 0;

        &:checked~.nav-mobile {
            display: block;
            width: 100%;
            padding: 40px 0 20px 50px;
            top: 0;
        }
    }
}